[user]
	email = kfukuda@genki.com
	name = Kenji Fukuda
[alias]
	tree = log --graph --pretty=format:'%x09%C(auto) %h %Cgreen %ar %Creset%x09by %C(cyan ul)%an%Creset %x09%C(auto)%s %d'

[core]
	editor = vim
	whitespace = cr-at-eol
[init]
	defaultBranch = main
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[credential]
	helper = store
[ghq]
	root = /home/fukuda/projects
	root = /home/fukuda/mysrc/
	root = /home/fukuda/tamp_ws/src
	root = /home/fukuda/ghq
